
/* COLORS

ORANGE - EAA613 - (234,166,19)
FOOTER ORANGE - F4B546 (244,181,70)

*/

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}


footer {
    font-family: 'Roboto', sans-serif;
    background: #f4b546;
    color: #FFFFFF;
}

h1 {
    padding-top: 6rem;
    padding-bottom: 3rem;
    font-weight: 100;
    font-size: 3rem;
    color: #666666;
}

h2 {
    color: #999999;
    font-weight: 200;
    font-size: 2rem;
}

.logo {
    padding: 1.5rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.logo-small {
    padding: 0.5rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav a{
    color: #EFF1F3;
}

nav a:hover {
    color: #EFF1F3;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-toggler {
    right: 0;
    padding: 0.7em;
}

.navbar-inverse .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
}

.navbar-inverse .navbar-toggler {
    border: 0;
}

.navbar-scroll {
    background: rgba(0,0,0,0.8);
}
.navbar-scroll-top {
    background: transparent;
}

li.nav-item {
    border-bottom: 2px solid transparent;
}

li.nav-item.active {
    border-bottom: 2px solid #EAA613;
}

li.nav-item:hover {
    border-bottom: 2px solid #EAA613;
    transition: all .5s ease-in-out;
}

.active-white {
    border-bottom: 2px solid transparent !important;
    color: #FFFFFF !important;
}

#intro {
    background: url('../images/home-bg-1350.png') no-repeat fixed;
    background-size: cover;
    color: #EFF1F3;
    height: 100vh;
    min-height: 100vh;
}

.intro-text {
    font-weight: 100;
    font-size: 4rem;
}

.intro-container {
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}

#products {
    padding-bottom: 3rem;
    background: #EFF1F3;
}

.prod-box {
    max-width: 12.5rem;
    max-height: 12.5rem;
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
}

.prod-image {
    width: 6.5rem;
    height: 6.5rem;
    margin-bottom: 1rem;
}

#about {
    padding-bottom: 5rem;
}

#about .card {
    margin-bottom: 2em !important;
    max-height: 17em;
    height: 17rem;
    max-width: 17rem;
    padding: 3em 1em;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    color: #999999;
}


/*-------------------------- MEDIA QUERIES --------------------------*/

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .row {
        margin-left: -100px;
        margin-right: -100px;
    }
    .intro-text {
        font-size: 2rem;
    }
    li.nav-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid transparent;
    }

    li.nav-item.active {
        border-bottom: 2px solid transparent;
    }

    li.nav-item:hover {
        border-bottom: 2px solid transparent;
    }

}
@media (min-width: 768px) {
    .logo {
        padding-right: 4rem;
    }
    .intro-content {
        padding: 0 10rem;
    }
    .intro-text {
        margin-bottom: 2rem;
    }
}

/* Backgrounds */

@media (min-width: 1200px) and (max-width: 2000px){
    #intro {
        background: url('../images/home-bg-1350.png') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    #intro {
        background: url('../images/home-bg-1200.png') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }
}
@media (min-width: 500px) and (max-width: 800px) {
    #intro {
        background: url('../images/home-bg-800.png') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }
}
@media (min-width: 200px) and (max-width: 500px) {
    #intro {
        background: url('../images/home-bg-500.png') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }
}
@media (max-width: 200px) {
    #intro {
        background: url('../images/home-bg-200.png') no-repeat fixed;
        background-position: center center;
        background-size: cover;
    }
}